Source: kafka-http-proxy
Section: utils
Priority: extra
Maintainer: Gladkov Alexey <legion@yandex-team.ru>
Build-Depends:
 debhelper (>= 8.0.0),
 golang (>= 1.4.2)
Standards-Version: 3.9.3
Homepage: https://github.com/legionus/kafka-http-proxy

Package: kafka-http-proxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  logrotate, libjson-perl, libjson-xs-perl, libwww-perl
Description: Kafka HTTP proxy.
  Server makes simple HTTP API for Apache Kafka.
