#!/usr/bin/make -f

.EXPORT_ALL_VARIABLES:

PROJECT = kafka-http-proxy
PROJECT_URL = github.com/legionus/$(PROJECT)
PROJECT_DIR = $(dir $(PROJECT_URL))

SYSCONF_DIR = /etc
CONFIG_SUFFIX =

DEBIAN_DIR = $(CURDIR)/debian
GOPATH = $(CURDIR)/Godeps/_workspace

%:
	dh $@

#override_dh_auto_clean:
#	rm -rf -- $(CURDIR)/Godeps

override_dh_auto_configure:
	mkdir -p -- $(GOPATH)/src/$(PROJECT_DIR)
	cd $(GOPATH)/src/$(PROJECT_DIR); ln -sf $(CURDIR) $(PROJECT)

override_dh_auto_build:
	cd $(GOPATH)/src/$(PROJECT_URL); go get ./...

install_bin:
	install -D -m 755 $(GOPATH)/bin/kafka-http-proxy $(DEBIAN_DIR)/$(PROJECT)/usr/sbin/kafka-http-proxy

install_conf:
	install -D -m 644 $(DEBIAN_DIR)/kafka-http-proxy.conf.init $(DEBIAN_DIR)/$(PROJECT)/etc/init/kafka-http-proxy.conf
	install -D -m 644 $(CURDIR)/contrib/logrotate/kafka-http-proxy $(DEBIAN_DIR)/$(PROJECT)/etc/logrotate.d/kafka-http-proxy
	install -D -m 644 $(CURDIR)/server.cfg $(DEBIAN_DIR)/$(PROJECT)/$(SYSCONF_DIR)/khp.cfg$(CONFIG_SUFFIX)

install_graphite:
	mkdir -p -- $(DEBIAN_DIR)/$(PROJECT)/usr/share/$(PROJECT)/graphite
	cp -- $(CURDIR)/contrib/graphite/* $(DEBIAN_DIR)/$(PROJECT)/usr/share/$(PROJECT)/graphite/

install_snaked: install_graphite
	mkdir -p -- $(DEBIAN_DIR)/$(PROJECT)/etc/snaked/jobs
	cp -r -- $(CURDIR)/contrib/snaked/jobs/* $(DEBIAN_DIR)/$(PROJECT)/etc/snaked/jobs/

override_dh_install: install_bin install_conf install_graphite install_snaked
